nav ul {
text-align:center; /* to center the nav menu */
background:none;
width: 960px;
margin:0 auto; 
border:none;
padding: 10px;
}
nav li {
display:inline;
padding:10px;
}
nav li a:link, nav li a:visited {
font-family:courier new;
font-size:20px;
color:white;
text-decoration:none;
border:2 px solid black;
padding-left: 50px;
padding-right:50px;
}
h1 {color:white;
    font-family:Veranda;
    font-size:40px;
    text-align:center
    
}
h2 {color:white;
    font-family:courier new;
    font-size:20px;
    text-align:center;
    
}

h3 {color:#a3847a;
    font-family:courier new;
    font-size:20px;
    text-align:center;
}
h4 {color:#a3847a;
    font-family:Veranda;
    font-size:30px;
    text-align:left;
    padding-top:195px;
}
h5 {color:#a3847a;
    font-family:Veranda;
    font-size:30px;
    text-align:left;
}
h6 {color:#a3847a;
    font-family:Veranda;
    font-size:30px;
    text-align:left;
    }

body {
background-image: url("backgroundimage.jpeg");
    background-size:145%;
}
body {  
    color:#443e3c;
    text-align: left;
    font-family:Veranda;
    font-size:20px}
div {color:#443e3c;
    font-family:Veranda;
    font-size:20px;
    text-align:left;}
